<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - RCMS_web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/css/style.css">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RCMS_web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                           <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Lecturers" asp-action="Index">Lecturers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Departments" asp-action="Index">Departments</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
    </header> *@
    @* <img class="wave" src="../img/wave.png"> *@
    <div class="side-menu navbar-default ">
        <div class="drop-wrapper">
            <ui aria-labelledby="dropdownMenuDivider">
                <li>
                    <div class="dropdown">
                        <a class="dropdown-anchor-link" href="#">
                            <span class="glyphicon glyphicon-user"></span> 
                            <span class="link-text">Students</span>
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </a>
                        <div class="dropdown-content">
                            <a asp-area="" asp-controller="Students" asp-action="Index"><span class="glyphicon glyphicon-plus"></span> View Students</a>
                            <a asp-area="" asp-controller="Students" asp-action="create"><span class="glyphicon glyphicon-pencil"></span> Create Student</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a class="dropdown-anchor-link" href="#">
                            <span class="glyphicon glyphicon-folder-open"></span> 
                            <span class="link-text">Courses</span>
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </a>
                        <div class="dropdown-content">
                            <a asp-area="" asp-controller="Courses" asp-action="Index"><span class="glyphicon glyphicon-plus"></span> View Courses</a>
                            <a asp-area="" asp-controller="Courses" asp-action="Create"><span class="glyphicon glyphicon-pencil"></span> Create Course</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a class="dropdown-anchor-link" href="#">
                            <span class="glyphicon glyphicon-folder-open"></span> 
                            <span class="link-text">Department</span>
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </a>
                        <div class="dropdown-content">
                            <a asp-area="" asp-controller="Departments" asp-action="Index"><span class="glyphicon glyphicon-plus"></span> View Departments</a>
                            <a asp-area="" asp-controller="Departments" asp-action="Create"><span class="glyphicon glyphicon-pencil"></span> Create Department</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a class="dropdown-anchor-link" href="#">
                            <span class="glyphicon glyphicon-user"></span> 
                            <span class="link-text">Lecturers</span>
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </a>
                        <div class="dropdown-content">
                            <a asp-area="" asp-controller="Lecturers" asp-action="Index"><span class="glyphicon glyphicon-plus"></span> View Lecturers</a>
                            <a asp-area="" asp-controller="Lecturers" asp-action="Create"><span class="glyphicon glyphicon-pencil"></span> Create Lecturer</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a class="dropdown-anchor-link" href="#">
                            <span class="glyphicon glyphicon-bullhorn"></span> 
                            <span class="link-text">Reports</span>
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </a>
                        <div class="dropdown-content">
                            <a href="#"><span class="glyphicon glyphicon-send"></span> Mail Report</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a class="dropdown-anchor-link" href="#">
                            <span class="glyphicon glyphicon-export"></span> 
                            <span class="link-text">Export</span>
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </a>
                        <div class="dropdown-content">
                            <a href="#"><span class="glyphicon glyphicon-floppy-disk"></span> PDF</a>
                            <a href="#"><span class="glyphicon glyphicon-share"></span> CSV</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a class="dropdown-anchor-link" href="#">
                            <span class="glyphicon glyphicon-lock"></span>
                            <span class="link-text">Change Password</span>
                        </a>
                    </div>
                </li>
            </ui>
            
        </div>
    </div>
    <div class="main-content">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">RCMS_Web Admin</a>
                </div>
                <ul class="nav navbar-default navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Hi, admin</a></li>
                </ul>
                
            </div>
        </nav>
        <div class="right-body">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
		</div>
    </div>
    @* <div class="container">
        @* <main role="main" class="pb-3">
            @RenderBody()
        </main> 
    </div> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
