*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.iwave{
	position: fixed;
	bottom: 0;
	right: 0;
	height: 100%;
	z-index: -1;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.dash-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :2em;
    padding: 0 2rem;
}

.side-menu{

  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 100; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-top: 50px;
  box-shadow: 0 4px 15px rgba(117, 117, 117, 0.2)
    
}

.side-menu a{
  text-align: left;
  position: relative;
  padding: 1rem 2rem;
  text-decoration: none;
  margin-top: 2px;
  color: #38d39f;
  display: block;
  transition: 0.3s;
}

.drop-wrapper{
	position: relative;
}

.dropdown {
	padding: 0.5rem 0
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
	max-height: 0;
	overflow: hidden;
	z-index: 100; /* Stay on top */
	transition: max-height .4s;
	box-shadow: 0 4px 15px rgba(117, 117, 117, 0.2)
}

.right-body{
	padding-top: 40px;
}

.dropdown-content a{
	font-size: 1.0rem;
	color: #067e56;
}

.dropdown:hover > .dropdown-content {	max-height: 10rem; }

.dropdown-anchor-link
{
	display: grid !important;
	grid-template-columns: max-content auto max-content;
	grid-column-gap: 1.5rem;
}

hr.solid {
	border-top: 1px solid #bbb;
	z-index: 1;
}

.side-menu a:hover{
	transition: 0.3s;
	color: #999;
}

.side-menu a:active{
	font-size: 1.5rem;
	transition: 0.3s;
	color: #999;
}

.menu-list{
	display: flex;
	margin: 10px;
	position: relative;
	align-content: center;
}

.main-content{
	margin-left: 250px; /* Same as the width of the sidebar */
	padding: 0px 10px;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.form{
    width: 360px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(117, 117, 117, 0.2)
}

.my-menu{
	width: 500px;
	height: auto;
    padding: 40px;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(117, 117, 117, 0.2)
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 16px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.0rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 1.2rem;
}

a:hover{
	color: #38d39f;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}